:root {
    /* Biến cho font Audiowide */
    --audiowide-font: 'Audiowide', sans-serif;
    --audiowide-font-size: 18px;
    --audiowide-font-weight: 400;
    --audiowide-line-height: 27px;
    --audiowide-text-align: left;
    /* Biến cho font Righteous */
    --righteous-font: 'Righteous', sans-serif;
    --righteous-font-size: 35px;
    --righteous-font-weight: 400;
    --righteous-line-height: 40px;
    
}
body {
    overflow-x: hidden !important;
    box-sizing: border-box;
}
.navbar-toggler {
    background-color: #1D3C01;
    border-radius: 30px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.con-top {
    background: url('./public/BGceleschain.svg') no-repeat;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.nav-link {
    font-family: var(--righteous-font);
    font-size: var(--righteous-font-size);
    font-weight: var(--righteous-font-weight);
    line-height: var(--righteous-line-height);
    color: white !important;
}
.but-connectWallet {
    background: url('./public/Rectangle39948.svg') no-repeat;
    background-size: contain;
    border: none;
}
.navbar-text {
    font-family: var(--righteous-font);
    font-weight: var(--righteous-font-weight);
    font-size: var(--righteous-font-size);
    line-height: var(--righteous-line-height);
    color: white !important;
    text-decoration: none;
}
/*==================================================*/
.con-start {
    padding-top: 5.7%;
}
.title-start {
    font-family: var(--righteous-font);
    font-weight: var(--righteous-font-weight);
    font-size: 45px;
    line-height: var(--righteous-line-height);
    color: white;
    margin: 0;
}
.description-start {
    height: 800px;
    padding-top: 31.5%;
}
.des-start {
    font-family: var(--righteous-font);
    font-weight: var(--righteous-font-weight);
    font-size: 34px;
    line-height: var(--righteous-line-height);
    color: white;
}
@media (min-width: 370px) {
    
}
.button-start {
    display: flex;
    gap: 4%;
    justify-content: center;
}
.but-start {
    color: white;
    text-decoration: none;
}
.but-start:hover {
    color: white;
}
.stake {
    font-family: var(--righteous-font);
    font-size: 34px;
    font-weight: var(--righteous-font-weight);
    line-height: var(--righteous-line-height);
    background: linear-gradient(0deg, #618707 0%, #82B60A 55%, #92CC0B 83.5%, #AAED0D 100%);
    border-radius: 30px;
    box-shadow: -1px 1px 30px -1px #FFFFFF;
    border: none;
    width: 269px;
    height: 77px;
}
.mine {
    font-family: var(--righteous-font);
    font-size: 34px;
    font-weight: var(--righteous-font-weight);
    line-height: var(--righteous-line-height);
    background: linear-gradient(0deg, #618707 0%, #82B60A 55%, #92CC0B 83.5%, #AAED0D 100%);
    border-radius: 30px;
    box-shadow: -1px 1px 30px -1px #FFFFFF;
    border: none;
    width: 269px;
    height: 77px;
}
/*=====================================================*/
.parameter {
    background: linear-gradient(0deg, #000709, #000709); /* tự tạo màu theo mắt */
}
.row-parameter {
    justify-content: center;
}
.div-parameter {
    border-radius: 30px;
    background: #2D5B02;
    box-shadow: 5px 5px 8px 0px #AAED0D;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.total {
    font-family: var(--audiowide-font);
    color: #FFFFFF;
}
.title-total {
    font-family: var(--righteous-font);
    color: #FFFFFF;
}
.div-total {
    width: 100%;
    height: 39%;
}
@media (min-width: 370px) {
    .row-parameter {
        gap: 25px;
        justify-content: center;
    }
    .div-parameter {
        width: 280px;
        height: 100px;
        padding-bottom: 11px;
    }
    .total {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }
    .title-total {
        font-size: 15px;
    }
}
@media (min-width: 1370px) {
    .row-parameter {
        gap: 2%;
        justify-content: center;
    }
    .div-parameter {
        width: 531px;
        height: 183px;
        padding: 0;
    }
    .total {
        font-size: 50px;
        font-weight: 400;
        line-height: 40px;
        color: #FFFFFF;
    }
    .title-total {
        font-size: 30px;
    }
}
/*========================================================*/
.con-body {
    background: linear-gradient(180deg, #000709 0%, #1D3C01 29.35%, #254B02 50.14%, #306202 97.93%, #479103 100%);
}
@media (min-width: 370px) {
    .title-thatWork {
        font-weight: 400;
        font-size: 35px;
        line-height: 25px;
    }
    .row-thatWork {
        row-gap: 65px;
    }
    .gaming {
        width: 90%;
        gap: 20px;
    }
    .img-1 {
        width: 100px;
        height: 130px;
    }
    .ai {
        width: 90%;
        gap: 20px;
    }
    .img-2 {
        width: 100px;
        height: 130px;
    }
    .title-work {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 15px;
    }
    .des-work {
        font-size: 15px;
        line-height: 20px;
    }
    .circle {
        max-width: 360.5px;
        height: 313.27px;
        transform: translate(0%, 100%);
    }
}
@media (min-width:1370px) {
    .title-thatWork {
        font-weight: 400;
        font-size: 70px;
        line-height: 40px;
        margin: 3% 0%;
    }
    .row-thatWork {
        gap: 1%;
    }
    .gaming {
        width: 1014px;
        height: 545px;
        gap: 30px;
    }
    .ai {
        width: 683.85px;
        height: 545px;
        gap: 30px;
    }
    .img-1 {
        width: 184.35px;
        height: 202px;
    }
    .img-2 {
        width: 185.28px;
        height: 202px;
    }
    .title-work {
        font-size: 50px;
        font-weight: 400;
        line-height: 40px;
    }
    .des-work {
        font-weight: var(--righteous-font-weight);
        font-size: 30px;
        line-height: 40px;
    }
    .circle {
        height: 353.27px;
        max-width: 544.5px;
        rotate: -148.72deg;
        transform: translate(-210%, 0%);
    }
}
.title-thatWork {
    font-family: var(--righteous-font);
    color: white;
}
.row-thatWork {
    justify-content: center;
    position: relative;
}
.circle {
    width: 100%;
    max-height: 100%;
    position: absolute;
    background: radial-gradient(61.33% 61.33% at 28.57% 69.24%, #FAFCFC 0%, rgba(255, 255, 255, 0.5) 35.94%, rgba(255, 255, 255, 0.5) 63.33%, #2C5B02 95.31%);
    border-radius: 50%;
    filter: blur(150px);
}
.gaming {
    border-radius: 30px;
    background: linear-gradient(180deg, #2D5B02 0%, #5FC104 100%);
    box-shadow: 5px 5px 8px 0px #AAED0D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ai {
    border-radius: 30px;
    background: linear-gradient(180deg, #2D5B02 0%, #5FC104 100%);
    box-shadow: 5px 5px 8px 0px #AAED0D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-work {
    font-family: var(--audiowide-font);
    color: #FFFFFF;
}
.des-work {
    font-family: var(--righteous-font);
    color: #FFFFFF;
}
/*===================================================*/
@media (min-width: 370px) {
    .title-roadmap {
        font-weight: 400;
        font-size: 35px;
        line-height: 25px;
    }
    .board {
        width: 80%;
        height: fit-content;
        gap: 15px;
        padding-top: 10px;
    }
    .div-status {
        width: 180px;
        height: 30px;
    }
    .status {
        font-weight: 400;
        font-size: 15px;
        margin: 0;
    }
    .title-board {
        font-weight: 400;
        font-size: 23px;
    }
    .li-board {
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
    }
    .circle-roadmap{
        max-width: 300.5px;
        height: 260.27px;
        transform: translateY(-100px);
        filter: blur(130px);
    }
}
@media (min-width: 1370px) {
    .title-roadmap {
        font-weight: 400;
        font-size: 70px;
        line-height: 40px;
    }
    .board {
        width: 497.97px;
        height: 399.76px;
        gap: 35px;
    }
    .div-status {
        width: 266.34px;
        height: 48.6px;
    }
    .status {
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
        margin: 0;
    }
    .title-board {
        font-weight: 400;
        font-size: 50px;
        line-height: 40px;
    }
    .li-board {
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
    }
    .circle-roadmap{
        max-width: 544.5px;
        height: 353.27px;
        rotate: -148.72deg;
        transform: translate(50px, -20px);
    }
}
.title-roadmap {
    font-family: var(--righteous-font);
    color: white;
}
.row-roadmap {
    justify-content: center;
    gap: 60px;
    padding-top: 5%;
    position: relative;
}
.board {
    border-radius: 30px;
    background: linear-gradient(180deg, #2D5B02 0%, #5FC104 100%);
    box-shadow: 1px 2px 10px 0px #AAED0D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-status {
    border-radius: 10px;
    background-color: #9FA09D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.status {
    font-family: var(--audiowide-font);
    color: #FFFFFF;
}
.title-board {
    font-family: var(--audiowide-font);
    color: #FFFFFF;
}
.li-board {
    font-family: var(--righteous-font);
    color: #FFFFFF;
    text-decoration: none;
}
.li-board:hover {
    transition: 500ms;
    color: #FFFFFF;
}
.board:hover {
    scale: 1.07;
    box-shadow: -3px 3px 80px 0px #AAED0D;
    transition: 500ms;
}
.circle-roadmap{
    width: 100%;
    max-height: 100%;
    position: absolute;
    background: radial-gradient(61.33% 61.33% at 28.57% 69.24%, #FAFCFC 0%, rgba(255, 255, 255, 0.5) 35.94%, rgba(255, 255, 255, 0.5) 63.33%, #2C5B02 95.31%);
    border-radius: 50%;
    filter: blur(130px);
}
/*=======================================================*/
@media (min-width: 370px) {
    .title-unlock {
        font-weight: 400;
        font-size: 35px;
        line-height: 20px;
    }
    .but-unlock {
        width: 265px;
        height: 50px;
    }
    .mining-app {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }
}
@media (min-width: 1370px) {
    .title-unlock {
        font-weight: 400;
        font-size: 70px;
        line-height: 40px;
    }
    .but-unlock {
        width: 625px;
        height: 112px;
    }
    .mining-app {
        font-weight: 400;
        font-size: 35px;
        line-height: 40px;
    }
}
.con-unlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-unlock {
    font-family: var(--righteous-font);
    color: white;
}
.div-butUnlock {
    padding-top: 5%;
}
.but-unlock {
    background: url("public/butunlock.svg") no-repeat;
    background-size: contain;
    border: none;
}
.mining-app {
    font-family: var(--righteous-font);
    color: #FFFFFF;
    text-decoration: none;
}
.mining-app:hover {
    color: #FFFFFF;
}
/*===================================================*/
.under {
    background: url("public/overlay.svg");
    height: 65px;
}
/*===================================================*/
@media (min-width: 370px) {
    .infor1 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img-footer {
        width: 180px;
        height: 40px;
    }
    .title-footer {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
    .infor2 {
        width: 100%;
        gap: 10px;
    }
    .icon-contact {
        width: 25px;
        height: 25px;
    }
    .copy-right {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        padding-left: 80px;
    }
    .img-copy {
        width: 170px;
        height: 30px;
        transform: translateX(-30px);
    }
    .infor3 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .row-footer {
        row-gap: 30px;
    }
    .ul-contact {
        padding: 0;
    }
    .li-contact {
        text-align: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
    }
}
@media (min-width: 1370px) {
    .infor1{
        display: flex;
        width: 33.33%;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .title-footer {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        text-align: start;
    }
    .img-footer {
        width: 205px;
        height: 65px;
    }
    .infor2 {
        width: 33.33%;
        gap: 30px;
    }
    .icon-contact {
        width: 40px;
        height: 40px;
    }
    .copy-right {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
    .img-copy {
        width: 205px;
        height: 65px;
        transform: translateX(0);
    }
    .infor3 {
        display: flex;
        text-align: end;
        width: 33.33%;
        flex-direction: column;
        align-items: end;
    }
    .row-footer {
        row-gap: 30px;
    }
    .ul-contact {
        padding: 0;
    }
    .li-contact {
        text-align: end;
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
    }
    .copy-right {
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
    }
}
.footer {
    background-color: #000709;
}
.row-footer {
    justify-content: center;
}
.infor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-footer {
    font-family: var(--righteous-font);
    color: #FFFFFF;
}
.copy-right {
    font-family: var(--righteous-font);
    color: #FFFFFF;
}
.li-contact {
    font-family: var(--righteous-font);
    color: #FFFFFF;
    list-style-type: none;
}